body {
  min-width: 100%;
  min-height: 100%;
  background-image: url(https://www.syfy.com/sites/syfy/files/2017/06/screen_shot_2017-06-24_at_11.16.16_pm.png);
  background-size: 100%;
}

header {
  display: flex;
  align-items: center;
  height: 5vw;
  padding-left: 5vw;
  background-color: rgba(0, 44, 91, 0.728);
}

header > * {
  margin-left: 2vw;
  font-size: 2vw;
  color: white;
}

.active-link {
  font-weight: bold;
  font-size: 2.5vw;
}
